algoliasearch==1.9.2
algoliasearch-django==1.2.4
Babel==2.3.4
cffi==1.8.3
cryptography==1.5.1
Django==1.10.1
django-autofixture==0.12.1
django-bootstrap3==7.1.0
django-debug-toolbar==1.5
django-gravatar2==1.4.0
Sphinx==1.4.6
sphinx-rtd-theme==0.1.9
